.culture {
  padding: 20px 40px;
}

.cultureTopCon {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cultureTopLeft {
  flex: 1;
  background-color: #ebebeb;
  height: 400px;
}

.cultureTopLeftImgs {
  width: 100%;
}

.cultureTopLeftImgs img {
  width: 50%;
  object-fit: cover;
}

.cultureTopLeftTextCon {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cultureTopLeftTextCon h2 {
  font-size: 18px;
}

.cultureTopLeftTextCon h3 {
  font-size: 16px;
  font-weight: 400;
}

.cultureTopRight {
  flex: 1;
}

.cultureTopRight {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: transparent;
  gap: 20px;
}

.cultureTopRight .third {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 26%;
  background-color: #ebebeb;
}

.cultureTopRight .left {
  flex: 1;
  height: 100%;
}
.cultureTopRight .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cultureTopRight .third .right {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 10px;
  align-content: center;
  padding: 0px 10px;
}

.cultureTopRight .right h3 {
  font-size: 18px;
}

.cultureBottomCon {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cultureBottomItem {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("/img/img1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  /* flex: 1; */
  width: 24%;
  position: relative;
}

.cultureBottomItem .cultureBottomItemText {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cultureBottomItem .cultureBottomItemText p {
  font-size: 15px;
  color: #ebebeb;
}

@media only screen and (max-width: 768px) {
  .cultureTopCon{
    flex-direction: column;
  }

  .cultureBottomCon{
    flex-direction: column;
    
  }

  .cultureBottomItem{
    width: 100%;
  }
}
