.africa {
  padding: 20px 40px;
}

.africaBottomCon {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.africaBottomItem {
  background-color: #ebebeb;
  flex: 1;
  height: 400px;
}

.africaBottomItem:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("/img/img1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.africaBottomItem:first-child .africaBottomItemText {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.africaBottomItem:first-child .africaBottomItemText p {
  font-size: 15px;
  color: #ebebeb;
}

.africaBottomItem:nth-child(2) img {
  width: 100%;
  height: 70%;
}

.africaBottomItem:nth-child(2) .africaBottomItemText h3 {
  gap: 10px;
  padding: 10px 10px;
  font-size: 20px;
}

.africaBottomItem:nth-child(2) .africaBottomItemText p {
  font-size: 15px;
  padding: 0px 10px;
}

.africaBottomItem:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  /* gap: 20px; */
}

.africaBottomItem:last-child .third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 22%;
}

.africaBottomItem:last-child .left {
  flex: 1;
  height: 100%;
}
.africaBottomItem:last-child .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.africaBottomItem:last-child .third .right {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 10px;
  align-content: center;
}

.africaBottomItem:last-child .right h3 {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .africaBottomCon{
    flex-direction: column;
  }

  .africaBottomItem:first-child{
    padding: 20px;
  }
  .africaBottomItem:first-child .africaBottomItemText{
    position: initial;
  }

  .africaBottomItem:last-child .third{
    flex-direction: column;
  }

  .africaBottomItem:last-child .left{
    width: 100%;
  }
}
