.policy {
  padding: 20px 40px;
}

.policyCon {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.policyLeft {
  flex: 1;
  background-color: #ebebeb;
  height: 600px;
}

.policyLeftImg {
  height: 60%;
}

.policyLeftImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.policyTextCon {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.policyTextCon h2 {
  font-size: 18px;
}

.policyTextCon h3 {
  font-size: 16px;
  font-weight: 400;
}

.policyMiddle {
  flex: 1;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.policyMiddleItem {
  background-color: #ebebeb;
  height: 50%;
}

.policyMiddle img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.policyMiddleItemText {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.policyMiddleItemText h2 {
  font-size: 18px;
}

.policyRight {
  flex: 1;
  background-color: #ebebeb;
  height: 600px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.policyRight .third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 18%;
}

.policyRight .left {
  flex: 1;
  /* height: 100%; */
}

.policyRight .left img {
  object-fit: cover;
}

.policyRight .third .right {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 10px;
  align-content: center;
}

.policyRight .right h3 {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .policyCon{
    flex-direction: column;
  }

  .policyRight:right{
    flex-direction: column;
  }

  }

